<plugin>
	<nom>Video Accessible</nom>
	<auteur>Cedric Morin [->http://www.yterium.com] pour [Temesis->http://www.temesis.com/]</auteur>
	<version>0.6.4</version>
	<icon>prive/themes/spip/images/video_a-32.png</icon>
	<lien>http://www.spip-contrib.net/Video-Accessible</lien>
	<etat>stable</etat>
	<description>Video avec sous-titrage, audio-description...</description>
	<prefix>va</prefix>
	<pipeline>
		<nom>affiche_milieu</nom>
		<inclure>va_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>affichage_final</nom>
		<inclure>va_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>header_prive</nom>
		<inclure>va_pipelines.php</inclure>
	</pipeline>
	<necessite id="SPIP" version="[2.1.8;3.0.99]" />
	<utilise id='medias' version='[1.6.0;]' />
	<utilise id='Accessibilite' version='[0.8.3;]' />
	<categorie>multimedia</categorie>
</plugin>
